<div class="container my-auto">
  <div class="row mt-3">
    <div class="col-10 mx-auto text-center">
      <img src="https://www.iiitb.ac.in/includefiles/userfiles/images/iiitb_logo.png" width=100>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-10 mx-auto text-center">
      <h2 class="slab">CS 816 - Software Production Engineering</h2>
    </div>
  </div>
  
  <div class="row">
    <div class="col-10 mx-auto text-center">
      <h4 class="roboto">Mini Project - Scientific Calculator with DevOps (Latest⚡️)</h4>
    </div>
  </div>

  <div class="row mt-5">
      <div class="col-5 mx-auto text-center">
        <p class="slab"><strong>Enter the Number</strong></p>
        <input class="slab form-control" type="number" id="number">
      </div>
  </div>

  <div class="row mt-3">
    <div class="col-5 mx-auto text-center">
      <div class="form-group">
        <label class="slab" for="sel1">Select Function (select one):</label>
        <select class="form-control slab" id="sel1">
          <option value="1">Square root function - √x</option>
          <option value="2">Factorial function - x!</option>
          <option value="3">Natural logarithm (base е) - ln(x)</option>
          <option value="4">Power function - x^b</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-5 mx-auto text-center">
      <div class="button btn btn-outline-primary" (click)="calculate()">Calculate</div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-5 mx-auto text-center">
      <div class="text-center">
        <p class="slab"><strong>Answer:</strong></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-5 mx-auto text-center">
      <div class="text-center">
        <h4 class="slab"><strong>{{answer}}</strong></h4>
      </div>
    </div>
  </div>
</div>